@{
    ViewBag.Title = "Conta Ativada";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.WebSite | @ViewBag.Title</title>

    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link type="text/css" href="~/Content/css/theme/theme.css" rel="stylesheet">
    <link type="text/css" href="~/Content/css/account/emailRegister/page.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <i class="icon-reorder shaded"></i>
                </a>

                <a class="brand" href="@ViewBag.URLHome">@ViewBag.WebSite</a>

                <div class="nav-collapse collapse navbar-inverse-collapse">
                    <ul class="nav pull-right">
                        <li>
                            @Html.ActionLink("Esqueci minha senha!", "ForgotPassword")
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="module module-login span4 offset4">
                    @using (Html.BeginForm("ConfirmEmail", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-vertical", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="module-head">
                            <h3>Conta Ativada</h3>
                        </div>

                        <div class="module-body">
                            <p>
                                Obrigado pela sua confirmação! Agradecemos por ter escolhido o Portal de Obrigações, caso deseje @Html.ActionLink("clique aqui para acessá-lo.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </p>
                        </div>

                        <div class="module-foot">
                            <div class="control-group">
                                <div align="center">
                                    <a href="@Url.Action("Login", "Account")" class="btn btn-link">Voltar</a>
                                </div>
                                <span class="help-block">
                                    @Html.ValidationSummary(true, null, new { @class = "text-center", @style = "font-style:italic; font-size:12px" })
                                </span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <b class="copyright">&copy; 2019 Portal de Obrigações - Alison Horacio </b>Todos os direitos reservados.
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>