@model AHAS.PO.INFRA.CROSS.IDENTITY.Model.ForgotPasswordViewModel
@{
    ViewBag.Title = "Recuperar Senha";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portal de Obrigações | @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
<body class="hold-transition login-page">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "", role = "form" }))
                {
                    <div class="card-header">
                        <h3>RECUPERAR</h3>
                    </div>

                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                @Html.TextBoxFor(model => model.Email, new { id = "Email", @class = "form-control", @placeholder = "Informe o e-mail da conta", @autocomplete = "off" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-white", @style = "font-style: italic; font-size:10px" })
                        </div>

                        <div class="card-footer form-group">
                            <div class="form-group">
                                <a href="@Url.Action("Login", "Account")" class="btn float-left btn-link">Voltar</a>
                                <input type="submit" value="Enviar" class="btn float-right recover_btn">
                            </div>
                        </div>

                        <div class="card-footer">
                            <span class="help-block text-center">
                                @Html.ValidationSummary(true, null, new { @class = "text-center text-danger", @style = "font-style:italic; font-size:12px" })
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <link href="~/Content/css/account/forgotpassword/page.css" rel="stylesheet" />
</body>
</html>