@model AHAS.PO.INFRA.CROSS.IDENTITY.Model.RegisterViewModel
@{
    ViewBag.Title = "Registro";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.WebSite | @ViewBag.Title</title>

    @System.Web.Optimization.Styles.Render("~/bundles/cdn/css/twitter-bootstrap")
    @System.Web.Optimization.Styles.Render("~/bundles/cdn/css/bootstrap-responsive")
    @System.Web.Optimization.Styles.Render("~/bundles/cdn/css/font-awesome-all")
    @System.Web.Optimization.Styles.Render("~/bundles/cdn/css/family-opensans")
    @System.Web.Optimization.Styles.Render("~/bundles/content/css/theme")
    <link href="~/Content/css/account/register/page.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <i class="fas fa-bars shaded"></i>
                </a>

                <a class="brand" href="@ViewBag.URLHome">@ViewBag.WebSite</a>

                <div class="nav-collapse collapse navbar-inverse-collapse">
                    <ul class="nav pull-right">
                        <li>
                            @Html.ActionLink("Voltar", "Login")
                        </li>
                        <li>
                            @Html.ActionLink("Esqueci minha senha!", "ForgotPassword")
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="module module-login span4 offset4">
                    @using (Html.BeginForm("Register", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-vertical", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="module-head">
                            <h3>Nova Conta</h3>
                        </div>
                        <div class="module-body">

                            <div class="control-group">
                                <div class="controls row-fluid">
                                    @Html.TextBoxFor(model => model.NameIdentifier, new { id = "Nome", @class = "span12", @placeholder = "Nome", @autocomplete = "off" })
                                </div>
                                @Html.ValidationMessageFor(model => model.NameIdentifier, null, new { @style = "font-style: italic; font-size:11px" })
                            </div>

                            <div class="control-group">
                                <div class="controls row-fluid">
                                    @Html.TextBoxFor(model => model.Email, new { id = "Email", @class = "span12", @placeholder = "E-mail", @autocomplete = "off" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Email, null, new { @style = "font-style: italic; font-size:11px" })
                            </div>

                            <div class="control-group">
                                <div class="form-inline">
                                    @Html.DropDownListFor(model => model.DDIPhone, new SelectList(new List<SelectListItem> {
                                                                                              new SelectListItem { Text = "+55", Value = "+55"} }, "Value", "Text", "True"),
                                                                                              new { id = "DDI", @class = "span8", @style = "max-width: 70px; margin-bottom: 0px" })
                                    <span class="input-group-addon">-</span>
                                    @Html.TextBoxFor(model => model.DDDPhone, new { id = "DDD", @class = "span12", @style = "max-width: 60px;", @placeholder = "DDD", @autocomplete = "off" })
                                    <span class="input-group-addon">-</span>
                                    @Html.TextBoxFor(model => model.Phone, new { id = "Fone", @class = "span12", @style = "max-width: 160px;", @placeholder = "Celular", @autocomplete = "off" })
                                </div>
                                @Html.ValidationMessageFor(model => model.DDDPhone, null, new { @style = "font-style: italic; font-size:11px" })
                                @Html.ValidationMessageFor(model => model.Phone, null, new { @style = "font-style: italic; font-size:11px" })
                            </div>

                            <div class="control-group">
                                <div class="controls row-fluid">
                                    @Html.PasswordFor(model => model.Password, new { id = "Senha", @class = "span12", @placeholder = "Senha", @autocomplete = "off" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Password, null, new { @style = "font-style: italic; font-size:11px" })
                            </div>

                            <div class="control-group">
                                <div class="controls row-fluid">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { id = "ConfirmaSenha", @class = "span12", @placeholder = "Repita a senha", @autocomplete = "off" })
                                </div>
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @style = "font-style: italic; font-size:11px" })
                            </div>

                        </div>
                        <div class="module-foot">
                            <div class="control-group">
                                <div class="controls clearfix">
                                    <button type="submit" class="btn btn-primary pull-right">Registrar</button>
                                    <label class="checkbox">
                                        @Html.CheckBoxFor(model => model.Terms, new { id = "Termo", @class = "form-control", @style = "margin-bottom:9px" })
                                        <label> Eu concordo com os <a href="#">termos</a></label>
                                    </label>
                                    @Html.ValidationMessageFor(model => model.Terms, null, new { @style = "font-style: italic; font-size:11px" })
                                </div>
                                <span class="help-block">
                                    @Html.ValidationSummary(true, null, new { @class = "text-center", @style = "font-style:italic; font-size:12px" })
                                </span>
                            </div>
                        </div>
                        <div class="module-foot">
                            <p>
                                <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Registro via facebook</a>
                                <a href="" class="btn btn-block btn-google"> <i class="fab fa-google-plus-g"></i>   Registro via Google+</a>
                                <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Registro via Twitter</a>
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <b class="copyright">&copy; 2019 Portal de Obrigações - Alison Horacio </b>Todos os direitos reservados.
        </div>
    </div>

    @System.Web.Optimization.Scripts.Render("~/bundles/cdn/js/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/cdn/js/twitter-bootstrap")
    @System.Web.Optimization.Scripts.Render("~/bundles/cdn/js/jquery-slim")
    <script src="~/Content/scripts/account/register/page.js"></script>
</body>
</html>