@{
    ViewBag.Title = "Verificar E-mail";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.WebSite | @ViewBag.Title</title>

    @System.Web.Optimization.Styles.Render("~/bundles/cdn/css/twitter-bootstrap")
    @System.Web.Optimization.Styles.Render("~/bundles/cdn/css/bootstrap-responsive")
    @System.Web.Optimization.Styles.Render("~/bundles/cdn/css/font-awesome-all")
    @System.Web.Optimization.Styles.Render("~/bundles/cdn/css/family-opensans")
    @System.Web.Optimization.Styles.Render("~/bundles/content/css/theme")
    <link href="~/Content/css/account/registerConfirm/page.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <i class="fas fa-bars shaded"></i>
                </a>

                <a class="brand" href="@ViewBag.URLHome">@ViewBag.WebSite</a>

                <div class="nav-collapse collapse navbar-inverse-collapse">
                    <ul class="nav pull-right">
                        <li>
                            @Html.ActionLink("Esqueci minha senha!", "ForgotPassword")
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="module module-login span4 offset4">
                    @using (Html.BeginForm("RegisterConfirm", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-vertical", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="module-head">
                            <h3>Confirmação Enviada</h3>
                        </div>

                        <div class="module-body">
                            <p>Já enviamos um e-mail com as instruções para você completar o seu cadastro. Siga-as para concluir as próximas etapas e acessar o portal.</p>
                            <p class="text-warning">Se não encontrá-lo na sua caixa de entrada nos próximos minutos, verifique a sua pasta de spam.</p>
                        </div>

                        <div class="module-foot">
                            <div class="control-group">
                                <div align="center">
                                    <a href="@Url.Action("Login", "Account")" class="btn btn-link">Voltar</a>
                                </div>
                                <span class="help-block">
                                    @Html.ValidationSummary(true, null, new { @class = "text-center", @style = "font-style:italic; font-size:12px" })
                                </span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <b class="copyright">&copy; 2019 Portal de Obrigações - Alison Horacio </b>Todos os direitos reservados.
        </div>
    </div>

    @System.Web.Optimization.Scripts.Render("~/bundles/cdn/js/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/cdn/js/twitter-bootstrap")
</body>
</html>