@model AHAS.PO.INFRA.CROSS.IDENTITY.Model.RegisterViewModel
@{
    ViewBag.Title = "Registro";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portal de Obrigações | @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

</head>
<body class="hold-transition login-page">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" }))
                {
                    <div class="card-header">
                        <h3>REGISTRO</h3>
                    </div>

                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                @Html.TextBoxFor(model => model.NameIdentifier, new { id = "Nome", @class = "form-control", @placeholder = "Nome", @autocomplete = "off" })
                            </div>
                            @Html.ValidationMessageFor(model => model.NameIdentifier, null, new { @class = "text-white", @style = "font-style: italic; font-size:10px" })
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                @Html.TextBoxFor(model => model.Email, new { id = "Email", @class = "form-control", @placeholder = "E-mail", @autocomplete = "off" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-white", @style = "font-style: italic; font-size:10px" })
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                @Html.PasswordFor(model => model.Password, new { id = "Senha", @class = "form-control", @placeholder = "Senha", @autocomplete = "off" })
                            </div>
                            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-white", @style = "font-style: italic; font-size:10px" })
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-check-circle"></i></span>
                                </div>
                                @Html.PasswordFor(model => model.ConfirmPassword, new { id = "ConfirmaSenha", @class = "form-control", @placeholder = "Repita a senha", @autocomplete = "off" })
                            </div>
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-white", @style = "font-style: italic; font-size:10px" })
                        </div>

                        <div>
                            <div class="row align-items-center terms">
                                @Html.CheckBoxFor(model => model.Terms, new { id = "Termo", @class = "form-control", @style = "margin-bottom:9px" })
                                <label> Eu concordo com os <a href="#">termos</a></label>
                            </div>
                            @Html.ValidationMessageFor(model => model.Terms, null, new { @class = "text-center text-white", @style = "font-style: italic; font-size:10px" })
                        </div>
                    </div>

                    <div class="card-footer form-group">
                        <div class="form-group">
                            <a href="@Url.Action("Login", "Account")" class="btn float-left btn-link">Voltar</a>
                            <input type="submit" value="Registrar" class="btn float-right register_btn">
                        </div>
                    </div>

                    <div class="card-footer">
                        <p>
                            <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Registro via facebook</a>
                            <a href="" class="btn btn-block btn-google"> <i class="fab fa-google-plus-g"></i>   Registro via Google+</a>
                            <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Registro via Twitter</a>
                        </p>
                    </div>

                    <span class="help-block text-center">
                        @Html.ValidationSummary(true, null, new { @class = "text-center text-danger", @style = "font-style:italic; font-size:12px" })
                    </span>
                }
            </div>
        </div>
    </div>
    <link href="~/Content/css/account/register/page.css" rel="stylesheet" />
</body>
</html>








@*<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>WebApplication</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    </head>
    <body class="hold-transition register-page">
        <div class="register-box">
            <div class="register-logo">
                <a href="">Welcome to <b>WebApplication!</b></a>
            </div>
            <div class="register-box-body">
                <p class="login-box-msg">Register a new membership</p>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(m => m.NameIdentifier, new { @class = "form-control" })
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox icheck">
                                <label>
                                    <input type="checkbox"> I agree to the <a href="#">terms</a>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                        </div>
                    </div>
                }
                <div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                        <i class="fa fa-facebook"></i> Sign up using
                        Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                        <i class="fa fa-google-plus"></i> Sign up using
                        Google+
                    </a>
                    <a href="@Url.Action("Login", "Account")" class="text-center">I already have a membership</a>
                </div>
            </div>
        </div>
    </body>
    </html>*@