@{
    ViewBag.Title = "Início";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Obrigações | @ViewBag.Title</title>

    @if (ViewBag.Theme == "black-theme")
    {
        <link type="text/css" href="~/Content/css/shared/layout/black-menu.css" rel="stylesheet" id="black-theme">
    }
    else if (ViewBag.Theme == "gray-theme")
    {
        <link type="text/css" href="~/Content/css/shared/layout/gray-menu.css" rel="stylesheet" id="gray-theme">
    }

    @System.Web.Optimization.Styles.Render("~/bundles/cdn/css/twitter-bootstrap")
    @System.Web.Optimization.Styles.Render("~/bundles/cdn/css/bootstrap-responsive")
    @System.Web.Optimization.Styles.Render("~/bundles/cdn/css/font-awesome-all")
    @System.Web.Optimization.Styles.Render("~/bundles/cdn/css/family-opensans")
    @System.Web.Optimization.Styles.Render("~/bundles/content/css/theme")

    @RenderSection("Styles", false)

</head>
<body>
    <!--MENU SUPERIOR-->
    @Html.Partial("_MenuSuperior")

    <div class="wrapper">
        <div class="container">
            <div class="row">

                <!--MENU LATERAL-->
                @Html.Partial("_MenuLateral")

                <!--CONTEUDO-->
                <div class="span9">
                    <div class="content">
                        @RenderBody()
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--MENU INFERIOR-->
    @Html.Partial("_MenuInferior")

    <!-- Section for main scripts render -->
    @System.Web.Optimization.Scripts.Render("~/bundles/cdn/js/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/cdn/js/twitter-bootstrap")
    <script src="~/Content/scripts/shared/page.js" type="text/javascript"></script>

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)

</body>
</html>
