@model AHAS.PO.SERVICE.APPLICATION.ViewModels.FeriadoViewModel
@{
    ViewBag.Title = "Novo Feriado";
}

<div class="module">
    <div class="module-head">
        <h3><i class="fas fa-gifts"></i> @ViewBag.Title</h3>
    </div>
    <div class="module-body">

        @using (Html.BeginForm("Adicionar", "Feriado", FormMethod.Post, new { @class = "form-horizontal row-fluid", role = "form" }))
        {
            <div class="control-group">
                @Html.LabelFor(model => model.Descricao, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Descricao, new { id = "Descricao", @class = "span8", @placeholder = "Nome do feriado...", @autocomplete = "off" })
                    <span class="help-inline">Máximo 200 caracteres</span>
                </div>
                <div class="controls">@Html.ValidationMessageFor(m => m.Descricao)</div>
            </div>

            <div class="control-group">
                <label class="control-label" for="basicinput">Abrangência</label>
                <div class="controls">
                    @Html.DropDownListFor(model => model.IDAbrangencia, new SelectList(Model.ListaAbrangencia, "IDAbrangencia", "Descricao"), "Selecione...", htmlAttributes: new { @class = "span5" })
                </div>
                <div class="controls">@Html.ValidationMessageFor(m => m.IDAbrangencia)</div>
            </div>

            <div class="control-group">
                <label class="control-label" for="basicinput">Estado</label>
                <div class="controls">
                    @Html.DropDownListFor(model => model.IDEstado, new SelectList(Model.ListaEstado, "IDEstado", "Sigla"), "Selecione...", htmlAttributes: new { @class = "span3" })
                </div>
                <div class="controls">@Html.ValidationMessageFor(m => m.IDEstado)</div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.FlagFeriadoFixo, new { @class = "control-label" })
                <div class="controls">
                    <label class="radio">
                        @Html.RadioButtonFor(model => model.FlagFeriadoFixo, true, new { @checked = "" }) Sim
                    </label>
                    <label class="radio">
                        @Html.RadioButtonFor(model => model.FlagFeriadoFixo, false) Não
                    </label>
                </div>
                <div class="controls">@Html.ValidationMessageFor(m => m.FlagFeriadoFixo)</div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.PeriodoDeAte, new { @class = "control-label" })
                <div class="controls">
                    <div class="input-append">
                        @Html.TextBoxFor(model => model.PeriodoDeAte, new { id = "PeriodoDeAte", @class = "date-range" })
                        <span class="add-on"><i class="far fa-calendar-alt"></i></span>
                    </div>
                </div>
                <div class="controls">@Html.ValidationMessageFor(m => m.PeriodoDeAte)</div>
            </div>

            <div class="control-group">
                <a href="@Url.Action("Index", "Feriado")" class="btn"><i class="fas fa-arrow-circle-left"></i> Voltar</a>
                <div class="controls pull-right">
                    <button class="btn btn-primary"><i class="fas fa-check-circle"></i> Confirmar</button>
                </div>
            </div>
        }
    </div>
</div>

@section Styles {
    @*@System.Web.Optimization.Styles.Render("~/bundles/cdn/css/jquery-ui")*@
    @System.Web.Optimization.Styles.Render("~/bundles/cdn/css/daterangepicker")
    <link type="text/css" href="~/Content/css/feriado/page.adicionar.css" rel="stylesheet">
}

@section    Scripts {
    @*@System.Web.Optimization.Scripts.Render("~/bundles/cdn/js/jquery-ui")*@
    @System.Web.Optimization.Scripts.Render("~/bundles/cdn/js/jquery-v3")
    @System.Web.Optimization.Scripts.Render("~/bundles/cdn/js/moment")
    @System.Web.Optimization.Scripts.Render("~/bundles/cdn/js/daterangepicker")
    <script src="~/Content/scripts/feriado/page.adicionar.js"></script>
}