@model AHAS.PO.SERVICE.APPLICATION.ViewModels.UnidadeViewModel
@{
    ViewBag.Title = "Nova Unidade";
}

<div class="module">
    <div class="module-head">
        <h3><i class="fas fa-gifts"></i> @ViewBag.Title</h3>
    </div>
    <div class="module-body">
        @using (Html.BeginForm("Adicionar", "Unidade", FormMethod.Post, new { @class = "form-horizontal row-fluid", role = "form" }))
        {
            @Html.Partial("_MensagemValidacao")
            <div class="control-group">
                @Html.LabelFor(model => model.Nome, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Nome, new { id = "Descricao", @class = "span8", @placeholder = "Nome da unidade...", @autocomplete = "off", @required = "true" })
                    <span class="help-inline">Máximo 200 caracteres</span>
                </div>
                <div class="controls">@Html.ValidationMessageFor(m => m.Nome)</div>
            </div>

            <div class="control-group">
                <a href="@Url.Action("Index", "Unidade")" class="btn"><i class="fas fa-arrow-circle-left"></i> Voltar</a>
                <div class="controls pull-right">
                    <button class="btn btn-primary"><i class="fas fa-check-circle"></i> Confirmar</button>
                </div>
            </div>
        }
    </div>
</div>

@section Styles {
    @System.Web.Optimization.Styles.Render("~/bundles/cdn/css/daterangepicker")
    <link type="text/css" href="~/Content/css/unidade/page.adicionar.css" rel="stylesheet">
}

@section    Scripts {
    @System.Web.Optimization.Scripts.Render("~/bundles/cdn/js/jquery-v3")
    @System.Web.Optimization.Scripts.Render("~/bundles/cdn/js/moment")
    @System.Web.Optimization.Scripts.Render("~/bundles/cdn/js/daterangepicker")
    <script src="~/Content/scripts/unidade/page.adicionar.js"></script>
}